body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ttb-form{
padding: 50px;
}

.top-navbar{
  background-color: #14356b;
}


.rjsf > .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  display: none;
}

.required::before {
  content: "* ";
  color: red;
}

.steps{
  cursor: pointer;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  background-color: white;
}
