@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@500&display=swap');


body {
  margin: 0;
  font-family: 'Ysabeau', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body #root {
  background-color: #c3c3c366;
} */

::-webkit-scrollbar {
  width: 5px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: #3f51b5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3f51b5;
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

#ttb-form {
  padding: 50px;
}

.top-navbar {
  background-color: #06060694;
  padding: 3px 0 !important;
  box-shadow: 0 8px 10px 0 rgb(0 0 0 / 50%);
}

.rjsf>.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  display: none;
}

#ttb-form .MuiInputLabel-outlined.MuiInputLabel-shrink {
  background-color: transparent;
}

.required::before {
  content: "* ";
  color: red;
}

.steps {
  cursor: pointer;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  background-color: white;
}

@media only screen and (max-width: 768px) {
  #ttb-form {
    padding: 20px;
  }
}